<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Employees</h1>

    <ol>
      {{#employees}}
        <li>{{firstName}} {{ lastName }}</li>
      {{/employees}}
    </ol>
  </body>
</html>
